.container {
    display: flex;
    column-gap: 10px;
    align-items: center;
    width: fit-content;
}
.label {
    cursor: pointer;
    display: flex;
    align-items: center;

    &.disabled {
        cursor: initial;
        color: grey;
    }
}
.root {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;

    background-color: #000;
    border: 2px solid #c3c1c7;
    border-radius: 2px;

    &:focus {
        background-color: var(--color-bg-focus);
    }

    &:disabled {
        cursor: initial;
        border-color: var(--color-dark-100);
    }
}
//.buttonWrapper {
//    cursor: pointer;
//
//    display: flex;
//    align-items: center;
//    justify-content: center;
//
//    width: 36px;
//    height: 36px;
//
//    border-radius: 50%;
//
//    &.disabled {
//        cursor: initial;
//    }
//}
//.indicator {
//    width: 18px;
//    height: 18px;
//}